$color-main: #1e223a;
$color-secondary: #100f1d;
$input: #6d717d;

.mainHome {
  height: 100vh;
  width: 100%;

  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2c5364, #203a43, #0f2027); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  header {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;

    #home-info {
      display: flex;
      width: 50%;
      padding: 25px;
      align-items: center;
      h2 {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 36px;
      }
      ul {
        display: flex;
        list-style: none;
        li {
          margin: 20px;
          font-weight: 100;
          a {
            text-decoration: none;
            color: white;
          }
          a:hover {
            color: rgb(6, 255, 193);
          }
        }
      }
    }

    #home-contacto {
      padding: 25px;
      width: 50%;
      text-align: right;
      button {
        margin-right: 50px;
      }
    }
  }

  .contenedorHome {
    width: 100%;
    display: flex;

    aside {
      width: 50%;
    }

    #asideImgHome {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 80%;
      }
    }
  }
}
