.mainHome {
  height: 100vh;
  width: 100%;

  background-image: linear-gradient(
    to right top,
    #030219,
    #080c30,
    #011249,
    #001462,
    #0c147b,
    #25158f,
    #3b13a2,
    #510cb5,
    #6c0ec8,
    #870fdb,
    #a20eed,
    #be0aff
  );

  header {
    width: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;

    #home-info {
      display: flex;
      width: 50%;
      padding: 20px;
      h2 {
        margin-left: 25px;
        margin-right: 25px;
      }
      ul {
        display: flex;
        list-style: none;
        li {
          margin: 10px;
        }
      }
    }

    #home-contacto {
      padding: 20px;
      width: 50%;
      text-align: right;
      button {
        margin-right: 25px;
      }
    }
  }
}
