@media only screen and (max-width: 900px) {
  $color-main: #1e223a;
  $color-secondary: #100f1d;
  $input: #6d717d;

  .mainHome {
    height: 100vh;
    width: 100%;

    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c5364, #203a43, #0f2027); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #2c5364,
      #203a43,
      #0f2027
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    header {
      #home-info {
        padding: 10px;
        align-items: center;
        display: block;
        h2 {
          text-align: center;
          margin: 20px;
          font-size: 30px;
        }
        ul {
          align-items: center;
          justify-content: center;
          li {
            font-size: 20px;
          }
        }
      }
    }

    .contenedorHome {
      display: block;

      aside {
        width: 100%;
      }

      h2 {
        font-size: 30px;
        margin-top: 10px;
      }
    }
  }
}
